body {
    text-align: center;
}

.title{
    font-size: 60px;
    font-weight: 100;
    
}

#headerContent{
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center;     /* Vertically center items */
    /* height: 100vh;    */

    /* margin-bottom: -120px; */
}

#headerContent img{
    max-width: 800px;
}

#headerText{
    padding-left: 20px;
}


/* About Styles */

#aboutContent{
    background-color: green;

    color: white;
}

#aboutHeading{
    color: white;

}

/* Queries Styles */

#allQueries{
    column-count: 3;
}