<!DOCTYPE html>
<html>
<head>
    <title>CIA Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyles.css') }}">


</head>

<body>
    <!-- <h1 class="title"> Welcome to CIA</h1> -->

    <div class="heading">
        <img src="{{ url_for('static', filename='/images/homePageImage.jpg') }}" width="60%" height="40%">

        <div class="centered">
            <h1 id="centerText">Welcome To CIA</h1>
            <p id="centeredParagraph">Introducing the Crime Insight Analyzer (CIA), a cutting-edge application designed for both police officers and residents alike. Combining accurate crime reports with our adjustable queries, we can help make a safer Chicago!</p>
            <a href="querySelector">
                <button class="center" id="button">See all Queries</button>
            </a>
        </div>

    </div>

</body>

</html>