<!DOCTYPE html>
<html>
    <title>CIA Home Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<body class="text-green-600">
    <h1>Select Your Query</h1>
    <a href="index.html">back</a>

    <div id="allQueries">

        <div>
            <img src="">
            <h3>Query 1</h3>
            <p>information here</p>

            <a href="query1">
                <button>Select Query 1</button>
            </a>
        </div>

        <div>
            <img src="">
            <h3>Query 2</h3>
            <p>information here</p>
            <button>Select</button>
        </div>

        <div>
            <img src="">
            <h3>Query 3</h3>
            <p>information here</p>
            <button>Select</button>
        </div>

        <div>
            <img src="">
            <h3>Query 4</h3>
            <p>information here</p>
            <button>Select</button>
        </div>

        <div>
            <img src="">
            <h3>Query 5</h3>
            <p>information here</p>
            <button>Select</button>
        </div>

        <div>
            <img src="">
            <h3>Query 6</h3>
            <p>information here</p>
            <button>Select</button>
        </div>

    </div>
</body>
</html>