<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html>

<head>
    <title>Query 3: How has the change in unemployment rates in Chicago over time affected crime rates? </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/query.css') }}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node/16.13.2/node.min.js"></script>
<body>
    <div>
        <img src="{{ url_for('static', filename='/images/homePageImage.jpg') }}" width="60%" height="40%">
    </div>
    <h1>How has the change in unemployment rates in Chicago over time affected crime rates? </h1>
    
    <p>Returns a plot of unemployment rates and crime rates in Chicago.</p>
    
    {{ render_form(form) }}

    <a href="../querySelector">
        <button>Back To Query Selector</button>
    </a>
</body>
</html>