<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html>

<head>
    <title>Query 5: Compare the impact of unemployment vs COVID on the crime rate over time (2020-2022) </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/query.css') }}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node/16.13.2/node.min.js"></script>
<body>
    <div>
        <img src="{{ url_for('static', filename='/images/homePageImage.jpg') }}" width="60%" height="40%">
    </div>
    <a href="../querySelector">
        <button id="backButton">Back To Query Selector</button>
    </a>
    <h1>Compare the impact of unemployment vs COVID on the crime rate over time (2020-2022) </h1>
    
    <p>Description Here</p>
    
    {{ render_form(form) }}
</body>
</html>