<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html>

<head>
    <title>Query 2: Determine if rain is more likely to decrease crime compared to other weather conditions over a specified period of time.
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node/16.13.2/node.min.js"></script>
<body>
    <h1>Determine if rain is more likely to decrease crime compared to other weather conditions over a specified period of time.</h1>
    
    <p>Description Here</p>
    
    {{ render_form(form) }}

    <a href="../querySelector">
        <button>Back To Query Selector</button>
    </a>
</body>
</html>