<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html>

<head>
    <title>Query 6: Compare the average crime rate in Chicago over time to the crime rate (over time) in police districts in which the percentage of domestic crimes that result in an arrest is higher than average in Chicago</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node/16.13.2/node.min.js"></script>
<body>
    <h1>Compare the average crime rate in Chicago over time to the crime rate (over time) in police districts in which the percentage of domestic crimes that result in an arrest is higher than average in Chicago</h1>
    
    <p>Description Here</p>
    
    {{ render_form(form) }}
</body>
</html>