<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html>

<head>
    <title>Query 4: </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node/16.13.2/node.min.js"></script>
<body>
    <h1>How did the yearly crime rate change over time in the most dangerous community of Chicago of the year</h1>
    
    <p>Description Here</p>
    
    {{ render_form(form) }}

    <a href="../querySelector">
        <button>Back To Query Selector</button>
    </a>
</body>
</html>