<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html>

<head>
    <title>Query 4: </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/query.css') }}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node/16.13.2/node.min.js"></script>
<body>
    <div>
        <img src="{{ url_for('static', filename='/images/homePageImage.jpg') }}" width="60%" height="40%">
    </div>
    <a href="../querySelector">
        <button id="backButton">Back To Query Selector</button>
    </a>
    <h1>How did the yearly crime rate change over time in the most dangerous community of Chicago of the year</h1>
    
    <p>Select a year for which its most dangerous community's crime rate over a selected time frame will be calculated</p>
    
    {{ render_form(form) }}

</body>
</html>