<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html>

<head>
    <title>Query 1: Chicago Cirme vs the US over time</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/query.css') }}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node/16.13.2/node.min.js"></script>
<body>
    <div>
        <img src="{{ url_for('static', filename='/images/homePageImage.jpg') }}" width="60%" height="40%">
    </div>
    
    <h1>Compare the crime rate growth in Chicago vs the US over time (for different crime categories)</h1>
     
    <p class="queryPageParagraph">Returns crime rate in Chicago (c.rate_C), crime rate in US (us.rate_US), and year for which the computation was performed (c.year). Where clause (in red) = parameters that should be inputted by the user and thus should be present on the UI form (crime type and time range)
    </p>

    <h2>Enter Filters: </h2>
    <div>
        {{ render_form(form) }}

    </div>
    <a href="../querySelector">
        <button>Back To Query Selector</button>
    </a>
</body>
</html>